/* .addGoalTitle {
    text-align: center;
}


.goal-card-wrapper {
    transition: all 0.3s ease;
  }
  
  .goal-card-wrapper:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .goal-card-wrapper .description {
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  .goal-card-wrapper .deadline {
    color: #666;
    font-size: 0.9rem;
  }
   */



.goal-card-wrapper {
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 10px;
  padding: 10px 30px;
  margin:0 auto;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.goal-card-wrapper:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.goal-card-wrapper h5 {
  text-align: center;
  font-size: 1em;
}

.close-icon {
  color: #b4b4b4;
  position: absolute;
  top:5px;
  right: 10px;
  cursor: pointer;
}