.productino-page-wrapper {
  width: 60%;
  margin: 0 auto;
}

.chat-wrapper {
  margin: 0 auto;
  margin-bottom: 120px;
}

.text-msg-wrapper {
  padding:  0px 15px;
  display: flex;
}

.text-msg-user {
  background-color: rgb(228, 228, 228);
  border-radius: 20px;
  text-align: right;
  justify-self: flex-end;
  margin-bottom: 25px;
}

.text-msg-assistant {
  display: inline-block;
  margin-bottom: 50px;
}

.prompt-form-wrapper {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  width: 60%;
}

.prompt-form-wrapper-not-fixed {
  position: static;
  width: 100%;
}

#prompt-form {
  /* position: fixed;
  bottom:10%;
  width: 100%; */
}

#prompt-submit-btn {
  position: absolute;
  bottom: 62px;
  right: 1.5%;
  border-radius: 100%;
  background-color: #000;
  cursor: pointer;
  border: none;
  padding: 3px 5px;
}

.productino-warning {
  text-align: center;
  font-size: 14px;
  color: rgb(80, 80, 80);
}


.productino-gif {
  width: 270px;
  margin: 0 auto;
  display: block;
}

.productino-heading {
  text-align: center;
  margin-bottom: 0;
}

.productino-greeting {
  margin-bottom: 25px;
  color:#4b4b4b;
  height: 100px;
}

.example-prompts {
  margin-bottom: 40px;
}

.example-prompts .flex-container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: wrap;
}

.example-prompts .flex-item {
  flex: 1 1 48%;
}

.example-prompts .flex-container:last-child .flex-item {
  flex: 1 1 100%;
}

.example-prompts button {
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: #4b4b4b;
  transition: all 0.3s ease;
}

.example-prompts button:hover { 
  background-color: #f1f1f1;
}


/* AI Reponse Loader */
.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';
  width: 48px;
  height: 48px;
  border: 2px solid #2d76ff;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  animation: rotation 2s ease-in-out infinite;
}
.loader::after {
  border-color: #FF3D00;
  animation-delay: 1s;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 








