.productino-page-wrapper {
  width: 60%;
  margin: 0 auto;
}

.chat-wrapper {
  margin: 0 auto;
  margin-bottom: 120px;
}

.text-msg-wrapper {
  padding:  0px 15px;
  display: flex;
}

.text-msg-user {
  background-color: rgb(228, 228, 228);
  border-radius: 20px;
  text-align: right;
  justify-self: flex-end;
  margin-bottom: 25px;
}

.text-msg-assistant {
  display: inline-block;
  margin-bottom: 50px;
}

.prompt-form-wrapper {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  width: 60%;
}

#prompt-form {
  /* position: fixed;
  bottom:10%;
  width: 100%; */
}

#prompt-submit-btn {
  position: absolute;
  bottom: 62px;
  right: 1.5%;
  border-radius: 100%;
  background-color: #000;
  cursor: pointer;
  border: none;
  padding: 3px 5px;
}

.productino-warning {
  text-align: center;
  font-size: 14px;
  color: rgb(80, 80, 80);
}


.productino-gif {
  width: 270px;
  margin: 0 auto;
  display: block;
}



/* AI Reponse Loader */
.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';
  width: 48px;
  height: 48px;
  border: 2px solid #2d76ff;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  animation: rotation 2s ease-in-out infinite;
}
.loader::after {
  border-color: #FF3D00;
  animation-delay: 1s;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 








