.login-page-wrapper {
    display: flex;
    /* padding: 50px; */
    text-align: center;
}

.login-left-side, .login-right-side {
    width: 50%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-shrink: 0; */
}

.left-side-content, .right-side-content {
    padding:50px;
    width: 80%;
}

.login-right-side {
    color: #fff;
    background-image: url("../../assets/login-bg.avif");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

.login-left-side h2 {
    font-size: 2.4em;
    margin-bottom: 50px;
}

.login-left-side button {
    margin: 40px 0 0 0;
}

.logo-login img {
    width:40px;
}

.logo-login span {
    font-weight: bold;
    font-size: 20px;
}

.logo-login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
    position: absolute;
    top: 5%;
    /* left:17%; */
}

.login-right-side h2 {
    font-size: 3em;
}

.login-right-side p {
    font-size: 20px;
}

.login-right-side button {
    margin: 40px auto 0 auto;
}

.login-right-side a {
    text-decoration: none;
}

.left-side-register-link {
    margin-top: 20px;
    display: none;
}


@media screen and (max-width:600px) {
    .login-page-wrapper {
        display: block;
    }

    .login-left-side {
        margin: 0 auto;
        width: auto;
    }

    .left-side-content {
        padding:0;
    }

    .login-right-side {
        display: none;
    }

    .left-side-register-link {
        display: block;
    }
    
}